$blue-1: #D1E1F3;
$blue-2: #A3C3E7;
$blue-3: #74A6DC;
$blue-4: #4688D0;
$blue-5: #186AC4;
$blue-6: #125093;

$green-1: #D1F4D2;
$green-2: #A2E8A5;
$green-3: #74DD77;
$green-4: #45D14A;
$green-5: #17C61D;
$green-6: #119516;

$recall-1: #936639;
$recall-2:#C4884C;
$recall-3:#D0A070;
$recall-4:#DCB894;
$recall-5:#E7CFB7;
$recall-6: #F3E7DB;

.choropleth-container {
  path.dept-boundary {
    &.blue-1 {
      fill: $blue-1;
    }
    &.blue-2 {
      fill: $blue-2;
    }
    &.blue-3 {
      fill: $blue-3;
    }
    &.blue-4 {
      fill: $blue-4;
    }
    &.blue-5 {
      fill: $blue-5;
    }
    &.blue-6 {
      fill: $blue-6;
    }
    &.green-1 {
      fill: $green-1;
    }
    &.green-2 {
      fill: $green-2;
    }
    &.green-3 {
     fill: $green-3;
    }
    &.green-4 {
      fill: $green-4;
    }
    &.green-5 {
      fill: $green-5;
    }
    &.green-6 {
      fill: $green-6;
    }
    &.recall-1 {
      fill: $recall-1;
    }
    &.recall-2 {
      fill: $recall-2;
    }
    &.recall-3 {
      fill: $recall-3;
    }
    &.recall-4 {
      fill: $recall-4;
    }
    &.recall-5 {
      fill: $recall-5;
    }
    &.recall-6 {
      fill: $recall-6;
    }
  }
  .legend-row__rect {
    &.recall-1 {
      background-color: $recall-1;
    }
    &.recall-2 {
      background-color: $recall-2;
    }
    &.recall-3 {
      background-color: $recall-3;
    }
    &.recall-4 {
      background-color: $recall-4;
    }
    &.recall-5 {
      background-color: $recall-5;
    }
    &.recall-6 {
      background-color: $recall-6;
    }
    &.blue-1 {
      background-color: $blue-1;
    }
    &.blue-2 {
      background-color: $blue-2;
    }
    &.blue-3 {
      background-color: $blue-3;
    }
    &.blue-4 {
      background-color: $blue-4;
    }
    &.blue-5 {
      background-color: $blue-5;
    }
    &.blue-6 {
      background-color: $blue-6;
    }
    &.green-1 {
      background-color: $green-1;
    }
    &.green-2 {
      background-color: $green-2;
    }
    &.green-3 {
     background-color: $green-3;
    }
    &.green-4 {
      background-color: $green-4;
    }
    &.green-5 {
      background-color: $green-5;
    }
    &.green-6 {
      background-color: $green-6;
    }
  }
  
  .st1{fill:$blue-5;stroke:#F8F8F8;stroke-miterlimit:10;}
  .st2{fill:$blue-3;stroke:#F8F8F8;stroke-miterlimit:10;}
  .st3{fill:$blue-2;stroke:#F8F8F8;stroke-miterlimit:10;}
  .st4{fill:$blue-6;stroke:#F8F8F8;stroke-miterlimit:10;}
  .st5{fill:$green-2;stroke:#F8F8F8;stroke-miterlimit:10;}
  .st6{fill:$blue-1;stroke:#F8F8F8;stroke-miterlimit:10;}
  .st9{fill:none;}
  .st14{fill:$blue-6;}
  .st15{fill:$blue-5;}
  .st16{fill:$blue-4;}
  .st17{fill:$blue-3;}
  .st18{fill:$blue-2;}
  .st19{fill:$blue-1;}
  .st20{fill:$green-6;}
  .st21{fill:$green-5;}
  .st22{fill:$green-4;}
  .st23{fill:$green-3;}
  .st24{fill:$green-2;}
  .st25{fill:$green-1;}
  .st26{font-family:'ArialMT';}
  .st27{font-size:20px;}
  .st28{font-family:'MicrosoftJhengHeiRegular';}
  .st29{font-size:28px;}
  .st30{display:none;}
  .st31{display:inline;fill:#4C84CE;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st32{display:inline;fill:#A5C1E7;stroke:#FFFFFF;}
  .st33{display:inline;fill:#D2E0F3;stroke:#FFFFFF;}
  .st34{display:inline;}
  .st35{fill:#79A3DA;stroke:#FFFFFF;}
  .st36{display:inline;fill:#1F65C2;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st37{fill:#174C92;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st38{fill:#99E8BD;stroke:#FFFFFF;}
  .st39{display:inline;fill:#CCF4DE;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st40{display:inline;fill:#66DD9C;stroke:#FFFFFF;}
  .st41{display:inline;fill:#33D17B;stroke:#FFFFFF;}
  .st42{display:inline;fill:#00C65A;stroke:#FFFFFF;}
  .st43{display:inline;fill:#79A3DA;stroke:#FFFFFF;}
  .st44{fill:#A5C1E7;stroke:#FFFFFF;}
  .st45{fill:#009544;stroke:#FFFFFF;}
  .st46{display:inline;fill:#1F65C2;stroke:#FFFFFF;}
  .st47{display:inline;fill:$green-1;stroke:#FFFFFF;}
  .st48{fill:$green-2;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st49{display:inline;fill:#174C92;stroke:#FFFFFF;}
  .st50{display:inline;fill:$green-6;stroke:#FFFFFF;}
  .st51{fill:$green-4;stroke:#FFFFFF;}
  .st52{display:inline;fill:$green-3;stroke:#FFFFFF;}
  .st53{display:inline;fill:$green-5;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st54{display:inline;fill:$blue-3;stroke:#FFFFFF;}
  .st55{display:inline;fill:$blue-2;stroke:#FFFFFF;}
  .st56{display:inline;fill:$blue-4;stroke:#FFFFFF;}
  .st57{fill:$blue-3;stroke:#FFFFFF;}
  .st58{fill:#1F65C2;stroke:#FFFFFF;}
  .st59{fill:$blue-6;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st60{display:inline;fill:$blue-1;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st61{display:inline;fill:$green-4;stroke:#FFFFFF;}
  .st62{display:inline;fill:$green-2;stroke:#FFFFFF;stroke-miterlimit:10;}
}